/* .abouMe h2 {
  border: 5px black solid;
} */

#jumbotron {
  padding-top: 7rem;
  background-color: #add8e6;
}

#about {
  padding-top: 7rem;
  background-color: #fff;
}

#card {
  padding-top: 7rem;
  background-color: #add8e6;
}

#contact {
  padding-top: 7rem;
  background-color: #fff;
}

#footer {
  padding-top: 7rem;
  background-color: #add8e6;
}
